.avatar-xl {
    height: 5rem;
    width: 5rem;
}
.avatar {
    display: inline-block;
    height: 3rem;
    position: relative;
    width: 3rem;
}
.rounded-circle {
    border-radius: 50% !important;
}

#contacts {

    .form-control {
        background-color: #020617 !important;
        border: none;
    }

    label {
        font-size: .85rem !important;
    }

    button {
        background: rgba($color: rgb(139,61,255), $alpha: 1.0) !important;
        color: var(--gk-gray-100) !important;
    
        &:hover {
            background: rgba($color: rgb(139,61,255), $alpha: 0.7) !important;
        }
    }
}

.btn-icon {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    font-size: .92969rem;
    font-weight: 400;
    height: 2.5rem;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 2.5rem;
    background: rgb(6, 8, 39) !important;
    color: var(--gk-gray-500) !important;
}

.btns-m-1 {
    a {
        margin-right: .4rem !important;
    }
}